# *****************************************************frontend***************************************************
# Dependency directories
frontend/node_modules/

# *****************************************************backend***************************************************
# Byte-compiled / optimized / DLL files
__pycache__/
